@{  
    ViewData["Title"] = "Home Page";
  
}

<style>
    body {
        background-color: black;
    }
  
</style>


<div class="text-center">
    <h1 class="display-4"><span style="color:lightgreen">Student Portal</span></h1>
   
    <h4><span style="color:chartreuse;">My First .NET MVC Project</span></h4>
    <p>
        <span style="color:chartreuse;">
            I'm delighted to announce the successful creation of a robust <b>CRUD</b>(Create, Read, Update, Delete) .NET-based web application tailored for student monitoring. This application serves as a comprehensive tool to streamline student data management and enhance monitoring processes.
            <br /><b>Key Features:</b><br />
        </span>
        <span style="color:orangered;">
            <b><i>Data Management:</i></b><br />
        </span> <span style="color:chartreuse;">
         With CRUD functionality, users can effortlessly create, read, update, and delete student records, ensuring accurate and up-to-date information at all times.<br /></span>
        <span style="color:orangered;"><b><i>User-Friendly Interface:</i></b></span> <br />
        <span style="color:chartreuse;">The application boasts an intuitive interface designed to facilitate ease of use for administrators and educators alike.<br /></span>
    </p>
    
</div>
