@{
    
    ViewData["Title"] = "Privacy Policy";
    <span style="color:lightgreen">"Privacy Policy"</span>
}
<h1>@ViewData["Title"]</h1>

<style>
    body {
        background-color: black;
    }
</style>

<p>
    <span style="color:chartreuse">
    We implement reasonable security measures to protect the personal information of our users and prevent unauthorized access, disclosure, alteration, or destruction.
    However, no method of transmission over the internet or electronic storage is 100% secure, and we cannot guarantee absolute security.
    <br /><b> by Arbaz Haider :)</b></span>
</p>
